/* Home design */

.Home a{
    text-decoration: none;
    color: inherit;
  }

.Home .hero{
    background-color: #1C1E53;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
    padding-top: 50px;

  
}


.Home .headline{
    box-sizing: border-box;
    margin-left: 10%;
    width: 35%;
    color: white;
    animation: headFade 3.5s;
    animation-delay: 1.5s;
    
}
.Home .heroShot{
    box-sizing: border-box;
    width: 40%;
    margin-top: 50px;
    margin-left: 5%;
    margin-bottom: 50px;
    
}
.Home .heroImg{
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
}
.Home .heroButton{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 50px;
    
}
.Home #viewWork{
    background-color: #FCD980;
    border-radius: 30px;
    width: 50%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #1B1C2B;
    cursor: pointer;
}
.Home #viewPrice{
   
    border-radius: 30px;
    margin-left: 10%;
    width: 40%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    white-space: nowrap;
    cursor: pointer;
}

.Home #arrow{
    margin-left: 8px;
}



.Home .how-cont{
    background-color: #F4F6FC;
}
.Home .how-container{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-left: 10%;
    padding-bottom: 50px;
    padding-top: 20px;
    justify-content: space-between;
}
.Home .how{ 
    width: 50%;
}
.Home .howO{
    display: flex;
    flex-direction: column;
    width: 80%;
    color: #282938;
}

.Home .p-lorem{
    color: #282938;
    margin-bottom: 15px;
}
.Home .in-touch{
    color: #2405F2;
    cursor: pointer;
}
.Home .how-details{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    
}

.Home .eachpointer{
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-left: 5%;
    margin-top: 5%;
}




.Home .ourWork{
    width: 80%;
    margin-left: 10%;
    margin-top: 50px;
}
.Home .workHead{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.Home .viewmore{
    cursor: pointer;
    color: #282938;
}
.Home .works{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.Home .mainWork{
    width: 70%;
    max-height: 500px;
    overflow: hidden;
    cursor: pointer;
}
.Home .hoverbackground{
    width: 100%;
    height: 500px;
    background-image: linear-gradient(to top, #1C1E53, #1c1e5362);
    position: relative;
    opacity: 0.0;
    z-index: 2;
}
.Home .h-container{
    position: absolute;
    width: 80%;
    margin-left: 10%;
    height: 200px;
    margin-top: 250px;
}
.Home .hBackHeadtag{
    color: white;
}
.Home .hBackPtag{
    color: white;
}
.Home .hBackSpantag{
    color: #FCD980;
}
.Home .workImg{
    position: relative;
    width: 100%;
    max-width: 100%;
    top: -500px;
    z-index: 1;
    height: 500px;
}
.Home .sideWorks{
    width: 25%;
    max-height: 500px;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Home .sideImg{
    width: 100%;
    max-height: 220px;
    cursor: pointer;
    overflow: hidden;
}
.Home .sideHoverBack{
    width: 30%;
    height: 220px;
    background-image: linear-gradient(to top, #1C1E53, #1c1e5362);
    position: relative;
    opacity: 0.0;
    z-index: 2;
}
.Home .side-container{
    position: absolute;
    width: 80%;
    margin-left: 10%;
    margin-top: 75px;
    height: 110px;
}
.Home .hBackHeadtagA{
    color: white
}

.Home .hBackSpantagA{
    color: #FCD980;
}
.Home .workImge{
    position: relative;
    width: 100%;
    max-width: 100%;
    top: -200px;
    z-index: 1;
    height: 200px;



}


/* features design */
.Home .features{
    display: flex;
    margin-top: 50px;
    width: 100%;
    background-color: #F4F6FC;
}
.Home .features-block{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 90%;
    margin-left: 5%;
    text-align: center;
}

.Home .features-span{
    color: #282938;
}
.Home .features-head{
    color: #282938;
}
.Home .features-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.Home .features-section{
    position: relative;
    text-align: left;
    width: 30%;
    height: 0;
    padding-top: 30%;
    margin-top: 10px;
    background-color: #FFFFFF;
    cursor: grabbing;
}
.Home .section-space{
    position: absolute;
    width: 80%;
    margin-left: 10%;
    height: 70%;
    top: 15%;
    left: 0;
    overflow: hidden;
}
.Home .section-img{
    position: relative;
    width: 14%;
    padding-top: 14%;
    height: 0;
}
.Home .the-section-img{
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    top: 0;
    left: 0;
}
.Home .sectionHead{
    color: #282938;
    font-size: 100%;
}
.Home .section-p{
    color: #282938;
    font-size: 100%;
}


/* design testimonials section */
.Home .testimonials{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #f4f6fc81;
}
.Home .testimonials-block{
    width: 90%;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.Home .testimonialHead{
    width: 30%;
}

.Home .Testimonies{
    width: 65%;
    min-width: 65%;
    
}
.Home .the-testimonies{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.Home .testimony-quote{
    font-weight: normal;
}

.Home .each-testifier{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.Home .each-testifier-sec{
    display: flex;
    flex-direction: row;
    width: 40%;
}
.Home .testifier-details{
    margin-left: 2%;
}
.Home .testify-img{
    width: 25%;
    height: 0;
    padding-top: 25%;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}
.Home .testifier-pic{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
}
.Home .testifier-name{
    font-weight: 500;
}
.Home .next-testifier{
    width: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: right;
}
.Home .angle{
    position: relative;
    color: #282938;
    background-color: #FFFFFF;
    width: 25%;
    border-radius: 50%;
    height: 0;
    padding-top: 25%;
    overflow: hidden;
    margin-left: 5%;
    cursor: pointer;
}
.Home .the-angle{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    
}



.Home .contact-form{
    width: 100%;
    padding-top: 50px;
}

.Home .contact-form-block{
    width: 90%;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 50px;
    
}

.Home .explain{
    position: relative;
    width: 50%;
    height: 456px;
    min-height: 456px;
}
.Home .explain-div{
    position: absolute;
    width: 100%;
    max-width: 100%;
    background-color: #1C1E5380;
    height: 456px;
    min-height: 456px;
    z-index: 2;
    color: #FFFFFF;
}
.Home .explain-div-block{
    width: 80%;
    margin-left: 10%;
    margin-top: 70px;
}
.Home .explain-img{
    position: absolute;
    width: 100%;
    max-width: 100%;
    max-height: 480px;
    height: 456px;
    min-height: 456px;
    z-index: 1;
}

.Home .actual-form{
    width: 50%;
    padding-top: 36.49px;
    background-color: #1C1E53;
    color: #FFFFFF;
    
}
.Home .actual-form-block{
    width: 70%;
    margin-left: 15%;
}
.Home .inp{
    width: 100%;
    max-width: 100%;
    height: 30px;
    margin-top: 10px;
    border: 1px #ffffff80 solid;
    color: #ffffff80;
    border-radius: 5px;
    outline: none;
    background-color: transparent;
}

.Home .update-btn{
    margin-top: 10px;
    width: 100%;
    background-color: #FCD980;
    color: #1C1E53;
    height: 50px;
    border-radius: 35px;
    outline: none;
    border: none;
    padding: 1px 2px;
    cursor: pointer;
}

.Home .getin-contact{
    width: 100%;
    margin-top: 10px;
    text-align: center;
    margin-bottom: 30px;
    padding: 5px;
    cursor: pointer;
}
.Home .blog{
    width: 100%;
}
.Home .blog-block{
    width: 90%;
    margin-left: 5%;
}
.Home .blog-top{
    width: 100%;
}
.Home .h-blog{
    color: #282938;
}
.Home .blog-down{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.Home .each-blog{
    width: 30%;
    display: flex;
    flex-direction: column;
    color: #282938;
    margin-bottom: 40px;
}
.Home .blog-img{
    width: 100%;
}
.Home .blog-pic{
    width: 100%;
    max-width: 100%;
}
.Home .blog-date{
    width: 100%;
}
.Home .blog-dateS{
    font-weight: 300;
    font-size: small;
}
.Home .blog-textT{
    font-weight: 300;
    margin-bottom: 10px;
}
.Home .blog-read{
    width: 100%;
    margin-bottom: 10px;
    cursor: pointer;
}
.Home .blog-arrow{
    margin-left: 3px;
}









































/* almost mobile design */
@media screen and (max-width: 1015px) {
    .Home .section-space{
        position: absolute;
        width: 80%;
        margin-left: 10%;
        height: 80%;
        top: 10%;
        left: 0;
        overflow: hidden;
    }
    .Home .section-p{
        color: #282938;
        font-size: 80%;
    }
}

/* almost mobile design */
@media screen and (max-width: 965px) {
    .Home .features-section{
        position: relative;
        text-align: left;
        width: 45%;
       
        height: 0;
        padding-top: 45%;
        margin-top: 10px;
        background-color: #FFFFFF;
    }
    .Home .section-space{
        position: absolute;
        width: 80%;
        margin-left: 10%;
        height: 80%;
        top: 10%;
        left: 0;
        overflow: hidden;
    }
    .Home .section-p{
        color: #282938;
        font-size: 100%;
    }
}

@media screen and (max-width: 915px) {
    .Home .explain{
       
        height: 478px;
        min-height: 478px;
    }
    .Home .explain-div{

        height: 478px;
        min-height: 478px;
       
    }

    .Home .explain-img{

        max-height: 478px;
        height: 478px;
        min-height: 478px;
 
    }
}

@media screen and (max-width: 850px) {
.Home .explain{
    position: relative;
    width: 50%;
    height: 480px;
    min-height: 480px;
}

.Home .explain-div{
    position: absolute;
    width: 100%;
    max-width: 100%;
    background-color: #1C1E5380;
    height: 480px;
    min-height: 480px;
    z-index: 2;
    color: #FFFFFF;
}

.Home .explain-img{
    position: absolute;
    width: 100%;
    max-width: 100%;
    max-height: 480px;
    height: 480px;
    min-height: 480px;
    z-index: 1;
}

}
/* mobile design */


@media screen and (max-width: 700px) {
    .Home .hero{
        display: flex;
        flex-direction: column-reverse;
    }
    .Home .headline{
        box-sizing: border-box;
        margin-left: 10%;
        width: 80%;
        color: white; 
    }
    .Home .heroButton{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        margin-bottom: 50px;
        
    }
    .Home #viewWork{
        background-color: #FCD980;
        border-radius: 30px;
        width: 80%;
        margin-left: 10%;
        height: 40px;
        line-height: 40px;
        text-align: center;
        color: #1B1C2B;
    }
    .Home #viewPrice{
       margin-top: 10px;
        border-radius: 30px;
        margin-left: 10%;
        width: 80%;
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        white-space: nowrap;
    }
    
    .Home #arrow{
        margin-left: 8px;
    }
    .Home .heroShot{
        margin-top: 10px;
        margin-bottom: 10px;
        box-sizing: border-box;
        width: 80%;
        margin-left: 10%;
    }
    .Home .how-container{
        flex-direction: column;
        width: 80%;
        margin-left: 10%;
    }
    .Home .how{
        width: 100%;
    }
    .Home .howO{
        width: 100%;
    }
    .Home .how-details{
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    }
    .Home .eachpointer{
        flex-direction: column;
        width: 100%;
        margin-left: 0%;
        margin-top: 5%;
        align-items: center;
    }



    /* work section */
    .Home .ourWork{
        width: 90%;
        margin-left: 5%;
        margin-top: 50px;
    }
    .Home .workHead{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .Home .works{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center
    }
    .Home .mainWork{
        width: 100%;
        max-height: 500px;
    }
    .Home .h-container{
        position: absolute;
        width: 80%;
        margin-left: 10%;
        height: 200px;
        margin-top: 20px;
    }
    .Home .sideWorks{
        margin-top: 10px;
        width: 50%;
        max-height: 500px;
        margin-left: 25%;
    }
    .Home .features-content{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .Home .features-section{
        position: relative;
        text-align: left;
        width: 49%;
       
        height: 0;
        padding-top: 49%;
        margin-top: 10px;
        background-color: #FFFFFF;
    }
    .Home .section-space{
        position: absolute;
        width: 80%;
        margin-left: 10%;
        height: 92%;
        top: 4%;
        left: 0;
        overflow: hidden;
    }
    .Home .section-p{
        color: #282938;
        font-size: 100%;
    }




    .Home .testimonials-block{
        width: 90%;
        margin-left: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .Home .testimonialHead{
        width: 100%;
        text-align: center;
    }
    .Home .breakline-testimonial{
        display: none;
    }
    .Home .Testimonies{
        width: 100%;
    }
    .Home .the-testimonies{
        width: 100%;
    }
    .Home .testimony-quote{
        text-align: center;
    }
    .Home .each-testifier{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .Home .each-testifier-sec{
        display: flex;
        flex-direction: row;
        width: 40%;
        justify-content: center;
        margin-left: 30%;
    }
    .Home .next-testifier{
        width: 30%;
        margin-left: 35%;
        justify-content: left;
    }
    .Home .angle{
        width: 25%;
        margin-left: 15%;
        padding-top: 25%;
    }

    .Home .contact-form-block{
        width: 90%;
        margin-left: 5%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-bottom: 50px;
    }
    .Home .explain{
        width: 100%;
    }
    .Home .explain-div-block{
        margin-top: 90px;
    }
    .Home .actual-form{
        width: 100%;
    }



    .Home .blog-down{
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }
    .Home .each-blog{
        width: 100%;
    }


}













/* smaller phones */
@media screen and (max-width: 500px) {
    .Home .each-testifier-sec{
        flex-direction: column;
        justify-content: space-around;
  
        text-align: center;
        width: 60%;
        margin-left: 20%;
    }
    .Home .testify-img{
        width: 30%;
        margin-left: 35%;
        height: 0;
        padding-top: 30%;
    }
    .Home .next-testifier{
        margin-top: 5px;
        width: 50%;
        margin-left: 25%;
    }
    .Home .angle{
        width: 25%;
        margin-left: 15%;
        padding-top: 25%;
    }
}



/* smaller phones */
@media screen and (max-width: 615px) {
    .Home .mainWork{
        width: 100%;
        max-height: 300px;
    }
    .Home .sideWorks{
        margin-top: 10px;
        width: 80%;
        max-height: 500px;
        margin-left: 10%;
    }
    .Home .sideImg{
        width: 100%;
        max-height: 200px;
        cursor: pointer;
        overflow: hidden;
    }
    .Home .features-content{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .Home .features-section{
        position: relative;
        text-align: left;
        width: 100%;
       
        height: 0;
        padding-top: 100%;
        margin-top: 10px;
        background-color: #FFFFFF;
    }
    .Home .section-space{
        position: absolute;
        width: 80%;
        margin-left: 10%;
        height: 70%;
        top: 15%;
        left: 0;
        overflow: hidden;
    }
}


/* smaller phones */
@media screen and (max-width: 372px) {
    .Home .section-space{
        position: absolute;
        width: 80%;
        margin-left: 10%;
        height: 90%;
        top: 5%;
        left: 0;
        overflow: hidden;
    }
    .Home .testify-img{
        width: 50%;
        margin-left: 25%;
        height: 0;
        padding-top: 50%;
    }
  
}





/* 
================================================
                    ANIMATIONS 
================================================            
        */


.Home #viewPrice:hover{

    border-radius: 0px;
    border-top: solid 1px;
    border-bottom: solid 1px;
    border-left: none;
    border-right: none;
    height: 40px;
    align-items: center;
    justify-content: center;
    transition: 1s;
}
.Home #viewWork:hover{
    background-color: transparent;
    border-radius: 30px;
    border: solid #FFFFFF 1px;
    transition: 1s;
    color: #FFFFFF;
}        


.Home .in-touch:hover{

    color: #2505f2b2;
    transition: 1s;
}

.Home .viewmore:hover{
    color: #2829388a;
    transition: 1s;
}
.Home .mainWork:hover > .hoverbackground{
    opacity: 1;
    transition: 1s;
    z-index: 2;
    width: 50%;
}

.Home .sideImg:hover > .sideHoverBack{
    width: 100%;
    opacity: 1;
    z-index: 2;
    transition: 1s;
}
.Home .features-section:hover{
    transition: 1s;
    box-shadow: 2px 0.5px 2px  2px #28293831;
 
    /* position: relative;
    text-align: left;
    width: 30%;
    height: 0;
    padding-top: 30%;
    margin-top: 10px; */
    background-color: #FFFFFF;
}
.Home .angle:hover{
    background-color: #5239FA;
    color: #FFFFFF;
    transition: 1s;
}

.Home .update-btn:hover{
    transition: 1s;
    margin-top: 10px;
    width: 100%;
    background-color: transparent;
    color: #FFFFFF;
    height: 50px;
    border-radius: 35px;
    outline: none;
    border: solid 1px #ffffff80;
    padding: 1px 2px;
}
.Home .getin-contact:hover{
    width: 80%;
    margin-left: 10%;
    margin-top: 10px;
    border-top: 1px #ffffff80 solid;
    border-bottom: 1px #ffffff80 solid;
    padding: 5px;
    margin-bottom: 30px;
    transition: 1s;
}

.Home .fade-animation:focus-visible{
    animation: fade-animate 3s
}




@keyframes headFade{
    0%{opacity: 0;}
    /* 50%{top: -100px} */
    100%{opacity: 1;}
}



/* animation for smaller devices */
@media screen and (max-width: 700px) {
    .Home .mainWork:hover > .hoverbackground{
        opacity: 1;
        transition: 1s;
        z-index: 2;
        width: 70%;
    }
}


