
/*Navbar design   */

.NavBar a{
  text-decoration: none;
  color: inherit;
}
.NavBar header{
    background-color: #1C1E53;
    color: white;
  }
  
  .NavBar .navbar{
    display: flex;
    justify-content: space-between;
  }
  .NavBar .navbarLogo{
    width: 30%;
    font-weight: bolder;
   
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .NavBar .mobNav{
    display: none
}
  .NavBar .actualNav{
    width: 70%;
   
    
  }
  .NavBar .navLi{
    display: inline-block;
    margin-left: 2.5%;
   
    height: 30px;
    line-height: 30px;
    cursor: pointer;
  }
  .NavBar #contact{
    text-align: center;
    border-radius: 15px;
    cursor: pointer;
    width: 20%;
    border-color: white;
    border: solid 1px;
  }




/* 
=================
popup 

============
*/

.NavBar .popup{
  position: fixed;
  width: 80%;
  margin-left: 10%;
  box-shadow: 1px 2px 2px 1px #1c1e534b;
  margin-top: 15vh;
  height: 40vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  
  z-index: 10;
  
}
.NavBar .cancelpopup{

  height: 20%;
  width: 10%;
  margin-left: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: xx-large;
  cursor: pointer;
}
.NavBar .popuptxt{
  width: 70%;
  margin-left: 15%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: large;
  font-weight: 600;
}



.NavBar .contactMeClick{
  width: 80%;
  height: 20%;
  background-color: #1C1E53;
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}








  /* higher than 820px */
  @media screen and (min-width: 820px) {
    .NavBar .actualNav{
        padding-left: 10%;
      }
  }


  /* higher than 890px */
  @media screen and (min-width: 890px) {
    .NavBar .actualNav{
        padding-left: 15%;
      }
  }


  /* Moble view */
@media screen and (max-width: 700px) {
    .NavBar .navbar{
     padding: 10px;
    }
    .NavBar .navbarLogo{
      width: 80%;
      margin-left: 10%;
      font-size: larger;
    }
    .NavBar .actualNav{
        display: none;
      }
    .NavBar .mobNav{
        display: flex;
        width: 10%;
       
        height: 50px;
        align-items: center;
        justify-content: center;
        
    }
    .NavBar .menuIcon{
      color: white;
      font-size: larger;
      cursor: pointer;
    }
}
  












/* 
==================================
           Animation
================================= 
*/


.NavBar #contact:hover{
  border-radius: 0px;
  border-left: none;
  border-right: none;
  transition: 1s;
  color: #ffffff;
}


.NavBar .navLi:hover{
  display: inline-block;
  margin-left: 2.5%;
  color: #FCD980;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
}